
html {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    overflow-x: hidden; 
}

body {
    width: 100%;
    font-family: 'Quicksand', sans-serif;
}

p, h1, h4 {
    font-family: 'Quicksand', sans-serif;
}




.hero {
    height: 100vh;
    background-image: url(../media/top.jpg);
    background-position: center;
    background-repeat: none;
    background-size: cover;
}


.body-section {
    margin-top: 50px;
    margin-bottom: 300px;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 1.8rem;
    text-align: center;
    }





@media(max-width: 850px) {

    html {
        font-size: 14px;
    }

    .mobile-notifier {
        display: block;
    }

}


}
